@font-face
{
    font-family: Bariol;
    src:url('Bariol_Regular.otf');
    font-weight:normal;
}

@font-face
{
    font-family: Bariol;
    src:url('Bariol-Bold.otf');
    font-weight:bold;
}

h1, h2, h3, ul, p, a
{
    transition:font ease-in-out .25s;
}

h3
{
    font-size:1.5em;
    font-weight:normal;
    margin-bottom:.4em;
}

hr
{
    width:5%;
    border-bottom:none;
}

body,html {
    height:100%;
    width:100%;
    font-family:bariol;
}

body
{
    padding:0px;
    margin:0px;
    font-family: Bariol;
    font-size:1.1em;
}

textarea {
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius:4px;
    font-size:1.2em;
	font-family:bariol;
}

div.background {
    width:100%;
    min-width:950px;
    height:100%;
    background-image:url('header.jpg');
    background-size:100% auto;
    background-position:center top;
    background-repeat:no-repeat;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

div.wrapper
{
    min-width:950px;
}

div.wrapper > img
{
    width:70%;
    min-width:950px;
    margin:0 auto;
    display:block;
}

div.top-in-wrapper > a >  img
{
    margin-right:2.5%;
    height:35px;
}

@media screen and (max-width:1500px) {
    div.top-in-wrapper > a > img {
	height:20px;
    }
}


div.top-in-wrapper > a, div.top-in-wrapper > ul > li > a
{
    color:white;
    text-decoration:none;
    display:inline-block;
}

div.top-in-wrapper > a {
    margin-right:2.5%;
}

div.top-in-wrapper > ul > li > a:hover
{
    text-decoration:underline;
}

img.nyc {
    height:35px;
}

div.top-wrapper
{
    height:100%;
    padding-top:2.5%;
    color:white;
    transition:.25s;
}

div.top-wrapper > div.mid-in-wrapper > hr
{
    width:10%;
    border-style:solid;
    border-bottom:none;
    border-width:1px;
}

div.top-wrapper > div.mid-in-wrapper > div.table-wrapper {
    width:400px;
    text-align:center;
    padding:25px;
    margin:0 auto;
    margin-bottom:20px;
    /*background: -webkit-linear-gradient(top, #fff 5%, #dfdfdf 100%);*/
    background-color:rgba(0,0,0,.3);
    color:white;
}

div.top-wrapper > div.mid-in-wrapper > div.table-wrapper > form >table {
    display:block;
    margin:0 auto;
    width:400px;
    text-align:left;
    margin-left:10px;

}

div.top-wrapper > div, div.info1 > div, div.info > div.mn-wrapper, div.infoH > div, div.infoC > div
{
    margin:auto;
    width:70%;
    height:auto;
    min-width:950px;
}

div.top-wrapper > div.mid-in-wrapper
{
    margin-top:3%;
    text-align:center;
    transition:.25s;
}


div.top-wrapper > div > p
{
    font-size:1.3em;
}



div.top-wrapper > div > ul
{
    padding:0px;
    float:right;
    margin:0px;
}
div.top-wrapper > div > ul > li
{
    list-style-type: none;
    text-indent: 0px;
    display:inline-block;
    padding-top:10px;
    padding-right:20px;
}

input.button {
    margin:0 auto;
    height:60px;
    width:190px;
    text-align:center;
    border:1px solid;
    font-weight:bold;
    border-radius:3px;
    background-color:rgba(255,255,255,0.05);
    transition:background ease .25s;
    cursor:pointer;
    color:white;
    font-size:1em;
}

input.button:hover
{
    background-color:rgba(255,255,255,0.3);
    cursor:pointer;
}

div.top-in-wrapper > ul > li > a
{
    color:white;
    text-decoration:none;
}

div.top-in-wrapper > ul > li > a:hover
{
    text-decoration:underline;
}

input,option,select {
    font-size:1.5em;
    background-color:white;
    border:1px solid black;
    font-family:bariol;
    border-radius:4px;
}

select {
}

input, option {
    height:30px;
    padding:5px;
    line-height:25px;
    margin-bottom:10px;
}

input[disabled] {
    background-color:lightgrey;
}

input[type=text] {
    transition:0.25s ease;
}

input[type=text]:focus {
    margin-left:10px;
}

select {
    height:40px;
    line-height:40px;
    text-indent:0px;
    
    margin-bottom:10px;
}

footer
{
    color:white;
    text-align:center;
    background-color:#252525;
    height:65px;
    line-height:65px;
    width:100%;
    bottom:0px;
    position:fixed;
}
/*
        <img src="3.jpg" />*/
