@font-face
{
    font-family: Bariol;
    src:url('Bariol_Regular.otf');
    font-weight:normal;
}

@font-face
{
    font-family: Bariol;
    src:url('Bariol-Bold.otf');
    font-weight:bold;
}

h1, h2, h3, ul, p, a
{
    transition:font ease-in-out .25s;
}

h3
{
    font-size:1.5em;
    font-weight:normal;
    margin-bottom:.4em;
}

hr
{
    width:5%;
    border-bottom:none;
}

body
{
    padding:0px;
    margin:0px;
    font-family: Bariol;
    font-size:1.1em;
}

div.wrapper
{
    min-width:950px;
}

div.wrapper > img
{
    width:70%;
    min-width:950px;
    margin:0 auto;
    display:block;
}

div.top-in-wrapper > img
{
    margin-right:2.5%;
}

div.info1 > img
{
    margin:0 auto;
}

div.info1 > div > p, div.info > div > p, div.infoH > div > p, div.infoH > div > ul, div.infoC > div > p, div.infoC > div > ul
{
    color:grey;
    line-height:2em;
}

div.infoH > div > ul, div.infoC > div > ul
{
    text-align:left;
}

div.infoC > div > ul
{
    list-style:none;
    padding:0;
    margin:0;
}

div.infoC > div > ul > li
{
    padding-left:1em;
}

div.infoC > div > ul > li:before
{
    content: "• ";
    color: orange;
}

div.top-wrapper
{
    height:700px;
    width:100%;
    padding-top:2.5%;
    color:white;
    background-image:url('header.jpg');
    background-size:100% auto;
    background-position:center top;
    background-repeat:no-repeat;
    transition:.25s;
}

div.top-wrapper > div.mid-in-wrapper > hr
{
    width:10%;
    border-style:solid;
    border-bottom:none;
    border-width:1px;
}

div.top-wrapper > div, div.info1 > div, div.info > div.mn-wrapper, div.infoH > div, div.infoC > div
{
    margin:auto;
    width:70%;
    height:auto;
    min-width:950px;
}

div.mn-wrapper > div > a
{
    display:inline-block;
    text-decoration:none;
}

div.info1 > div
{
    width:70%;
    min-width:850px;
    margin:auto;
}

div.info, div.info1, div.infoH, div.infoC
{
    padding:5%;
    overflow:hidden;
}

div.info1, div.info, div.infoH, div.infoC
{
    text-align:center;
}

div.info > div.mn-wrapper, div.infoC > div
{
    width:40%;
    text-align:center;
    min-width:650px;
}

div.info > div.mn-wrapper > hr
{
    width: 8.75%;
}

div.info > div.mn-wrapper > div
{
    position:relative;
    width:35%;
    display:inline-block;
}

    div.top-wrapper > div.mid-in-wrapper
    {
        margin-top:8%%;
        text-align:center;
        transition:.25s;
    }

@media screen and (max-width:1100px) {
   /* Portrait styles here */
   div.top-wrapper > div.mid-in-wrapper
    {
        margin-top:5%;
        text-align:center;
        transition:.25s;
    }
   div.top-wrapper
   {
        height:500px;
        transition:.25s;
   }

}

div.top-wrapper > div > p
{
    font-size:1.3em;
}

@media screen and (min-width:1500px)
{
    div.top-wrapper
    {
        height:900px;
    }
    div.mid-in-wrapper > h1
    {
	font-size:4em;
    }
    div.mid-in-wrapper > h2
    {
	font-size:3em;
    }
    div.top-wrapper > div > p
    {
	font-size:2em;
    }
    div.mid-in-wrapper > #joinBut
    {
	height:100px;
	width:300px;
	line-height:100px;
	font-size:2em;
    }
    div.top-in-wrapper > ul
    {
	font-size:1.5em;
    }
    div.info, div.info1, div.infoH, div.infoC
    {
        padding:2.5%;
    }
}


div.top-wrapper > div > ul
{
    padding:0px;
    float:right;
    margin:0px;
    line-height:60px;
}
div.top-wrapper > div > ul > li
{
    list-style-type: none;
    text-indent: 0px;
    display:inline-block;
    padding-top:10px;
    padding-right:20px;
}

div.button, a.mn-button, div.infoC > div > div#joinBut
{
    margin:0 auto;
    height:60px;
    width:190px;
    line-height:60px;
    text-align:center;
    border:1px solid;
    font-weight:bold;
    border-radius:3px;
    background-color:rgba(255,255,255,0.05);
    transition:background ease .25s;
    cursor:pointer;
}

div.button > a {
    width:100%;
    height:100%;
    color:white;
    text-decoration:none;
    display:block;
}

div.infoC
{
    background-color:#363636;
}

div.infoC > div >hr{color:grey;}

div.infoC > div > h3{color:white;}

a.mn-button, div.infoC > div > div#joinBut
{
    border:none;
    color:white;
    margin-top:10px;
}


a#neighBut
{
    background-color:rgba(247,180,27,1);
}

a#merchBut, div.infoC > div > div#joinBut
{
    background-color:rgba(236,120,26,1);
}

div.button:hover
{
    background-color:rgba(255,255,255,0.3);
    cursor:pointer;
}

a#neighBut:hover
{
    background-color:rgba(247,180,27,.85);
}

a#merchBut:hover, div.infoC > div > div#joinBut:hover
{
    background-color:rgba(236,120,26,.85);
}

div.top-in-wrapper > ul > li > a
{
    color:white;
    text-decoration:none;
}

div.top-in-wrapper > ul > li > a:hover
{
    text-decoration:underline;
}

div.info1 > div > p > a
{
    color:rgb(236,120,26);
    font-weight:bold;
    text-decoration:none;
}

/*block for the bullet point pictures*/
#merchant > div > ul, #neighbor > div > ul
{
    width:60%;
}

#merchant > div > ul > li, #neighbor > div > ul > li
{
    list-style-type:none;
    
    margin-bottom:20px;
}

#merchant > div
{
    background:url("../static/merchrouter.png") no-repeat right 115px;
}

#neighbor > div
{
    background:url("../static/neighrouter.png") no-repeat right 115px;
}
#merchant > div > ul > li:before, #neighbor > div > ul > li:before
{
    content:" ";
    height:45px;
    width:45px;
    display:block;
    position:relative;
    vertical-align:middle;
    margin-right:45px;
    margin-left:-20px;
    float:left;
}

#merchant > div > ul > li:nth-child(1):before {
    background: url("../static/merchsprites.png") no-repeat 0 0;
}

#merchant > div > ul > li:nth-child(2):before {
    background: url("../static/merchsprites.png") no-repeat 0 -45px;
}

#merchant > div > ul > li:nth-child(3):before {
    background: url("../static/merchsprites.png") no-repeat 0 -90px;
}

#merchant > div > ul > li:nth-child(4):before {
    background: url("../static/merchsprites.png") no-repeat 0 -135px;
}

#merchant > div > ul > li:nth-child(5):before {
    background: url("../static/merchsprites.png") no-repeat 0 -180px;
}

#neighbor > div > ul > li:nth-child(1):before {
    background: url("../static/neighsprites.png") no-repeat 0 0;
}

#neighbor > div > ul > li:nth-child(2):before {
    background: url("../static/neighsprites.png") no-repeat 0 -45px;
}

#neighbor > div > ul > li:nth-child(3):before {
    background: url("../static/neighsprites.png") no-repeat 0 -90px;
}

#neighbor > div > ul > li:nth-child(4):before {
    background: url("../static/neighsprites.png") no-repeat 0 -135px;
}

#neighbor > div > ul > li:nth-child(5):before {
    background: url("../static/neighsprites.png") no-repeat 0 -180px;
}

@media screen and (max-width:1500px)
{
    #merchant > div > ul > li:nth-child(4){
        line-height:22px;
    }

    #merchant > div > ul > li:nth-child(5){
        line-height:22px;
    }

    #neighbor > div > ul > li:nth-child(3){
        line-height:22px;
    }

    #neighbor > div > ul > li:nth-child(4){
        line-height:22px;
    }

    #neighbor > div > ul > li:nth-child(5){
        line-height:22px;
    }

}
/*block over*/

footer
{
    color:white;
    text-align:center;
    background-color:#252525;
    height:65px;
    line-height:65px;
    width:100%;
}
/*
        <img src="3.jpg" />*/
