<!DOCTYPE html>

<html>
    <head>
	<title>Downtown Brooklyn | Fon</title>
	<link rel="stylesheet" href="../static/signup.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
	<div class="background"></div>

	<div class="wrapper">
	    <div class="top-wrapper">
		<div class="top-in-wrapper">
		    <a href="https://corp.fon.com/en">
			<img src="../static/fon.png" />
		    </a>
		    <a href="http://www.nycedc.com/">
			<img class = "nyc" src="../static/nycedc.png" />
		    </a>
		    <a href="/">
			<img src="../static/free.png" />
		    </a>
		    <a href = "http://downtownbrooklyn.com/">
			<img src="../static/dtb.png" />
		    </a>
		    <ul>
			<li><a href="/signup">Join in</a></li>
			<li><a class="scroll" href="#about">About</a></li>
			<li><a href="/contact">Contact us</a></li>
		    </ul>
		</div>
		<div class="mid-in-wrapper">
		    <div class="table-wrapper">
			<form method="POST" id="data">
			    <table>
				<tr>
				    <td>Name</td>
				    <td><input></input></td>
				</tr>
				<tr>
