<!DOCTYPE html>

<html>
    <head>
	<title>Downtown Brooklyn | Fon</title>
	<link rel="stylesheet" href="../static/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    </head>
    <body>
	<div class="wrapper">
	    <div class="top-wrapper">
		<div style="height:100%;width:100%;color:black;opacity:.5;position:absolute;top:0;left:0"></div>
		<div class="top-in-wrapper">
		    <a href="https://corp.fon.com/en">
			<img src="../static/fon.png" />
		    </a>
		    <a href = "http://downtownbrooklyn.com/">
			<img src="../static/dtb.png" />
		    </a>
		    <a href="/">
			<img src="../static/free.png" />
		    </a>
		    <a href="http://www.nycedc.com/">
			<img class = "nyc" src="../static/nycedc.png" />
		    </a>
		    <ul>
			<li><a href="">Join in</a></li>
			<li><a class="scroll" href="#about">About</a></li>
			<li><a href="">Contact us</a></li>
		    </ul>
		</div>
		<div class="mid-in-wrapper">
		    <h1>BE A NEIGHBORHOOD CHAMPION</h1>
		    <hr />
		    <h2>HELP DOWNTOWN BROOKLYN BECOME THE MOST CONNECTED NEIGHBORHOOD IN NYC</h2>
		    <p>
		    New York City Economic Development Corporation (NYCEDC), Downtown Brooklyn Partnership (DBP) <br />
		    and Fon have partnered to create a Free WiFi network in the Downtown Brooklyn area. <br />
		    WiFi access points will be installed in various public locations.
		    Your venue can be one of those locations!
		    </p>

		    </br>
		    <div id="joinBut" class="button"><a href="signup">JOIN NOW</a></div>
		</div>
	    </div>
	    <div id="about" class="info1"> <div> <h3>About this project</h3>
		    <hr />
		    <p>
		    Downtown Brooklyn is participating in New York City's <a href="">Wireless Corridor Initiative</a> to bring information and the power of the web to 
		    New Yorkers no matter where they live or work. New Yorkers will be able to connect to free WiFi powered by Fon, NYCEDC, and 
		    DBP in outdoor public places, merchants and in residential neighborhoods in and around the Downtown Brooklyn area (bordered 
		    by Schermerhorn St, Cadman Plaza West, Flatbush Ave and Tillary St).
		    </p>
		    <br />
		    <br />
		    <br />
		</div>
		<img src="../static/devices.png" />
	    </div>

	    <img src="../static/map.jpg" />

	    <div class="info">
		<div class="mn-wrapper">
		    <h3>What's your story?</h3>
		    <hr />
		    <div style="margin-right: 20%;">
			<img src="../static/m.png" />
			<a class="mn-button" href="#merchant" id="merchBut">I'm a Merchant</a>
		    </div>
		    <div>
			<img src="../static/n.png" />
			<a class="mn-button" href="#neighbor" id="neighBut">I'm a Neighbor</a>
		    </div>
		</div>
	    </div>

	    <div id="merchant" class="infoH" style="background-color:#f9f9f9">
		<div>
		    <h3>Hello Merchant</h3>
		    <hr />
		    <p>HERE IS WHAT YOU GET IN RETURN. ALL FOR FREE</p>
		    <ul>
			<li>A free powerful WiFi router with free installation to customize your WiFi landing page and promote your business</li>
			<li>Your venue will be listed in our WiFi map</li>
			<li>Possible mentions in press releases by Fon, NYCEDC, and DBP</li>
			<li>Increased foot traffic in Downtown Brooklyn by providing ubiquitous WiFi in our neighorhood</li>
			<li>Helping Downtown Brooklyn become the most connected neighborhood in NYC</li>
		    </ul>
		    <br />
		    <br />
		</div>
	    </div>

	    <div id="neighbor" class="infoH" >
		<div>
		    <h3>Hello Neighbor</h3>
		    <hr />
		    <p>HERE IS WHAT YOU GET IN RETURN. ALL FOR FREE</p>
		    <ul>
			<li>A free Fon WiFi residential router</li>
			<li>Free Access to the largest WiFi network in the world</li>
			<li>Facebook integration, your Facebook friends connct to your router without annoying passwords</li>
			<li>Seamless access to the DBP Fon WiFi network in Brooklyn by downloading the Fon App</li>
			<li>Helping Downtown Brooklyn become the most connected neighborhood in NYC</li>
		    </ul>
		    <br />
		    <br />
		</div>
	    </div>

	    <div class="infoC">
		<div>
		    <h3>All You Need To Do Is Sign Up</h3>
		    <hr />
		    <p>Sign up now and become a pioneer by helping Downtown Brooklyn become the best WiFi
		    zone in NYC. We will install and configure your new router for you.</p>
		    <ul>
			<li><b>No broadband?</b> No problem. We will survey your site and see if you qualify for broadband for a small fee</li>
			<li><b>Already have a WiFi router?</b> Recycle it and get a new powerful router able to handle up to 25 concurrent sessions</li>
		    </ul>
		    <br />
		    <br />
		    <div id="joinBut">
			<a href="/signup">JOIN NOW</a>
		    </div>
		</div>   
	    </div>

	    <footer>
	    All rights reserved Fon 2013
	    </footer>
	</div>
	<script>
	    $(document).ready(function () {
	    $('a[href*=#]:not([href=#])').click(function () {
	    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
	    var target = $(this.hash);
	    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	    if (target.length) {
	    $('html,body').animate({
	    scrollTop: target.offset().top
	    }, 500);
	    return false;
	    }
	    }
	    });
	    });
	</script>
    </body>
</html>
