<html>
<head>
    <title>Fon | Downtown Brooklyn</title>
    <link rel="stylesheet" type="style/css" href="/static/style.css" />
</head>
<body>
    <div class="wrapper">
        <div class="top-wrapper">
            <div class="top-in-wrapper">
                <img src="/static/fon.png" />
                <ul>
                    <li><a href="">Join in</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </div>
            <div class="mid-in-wrapper">
                <h1>BE A NEIGHBORHOOD CHAMPION</h1>
                <hr />
                <h2>HELP DOWNTOWN BROOKLYN BECOME CONNECTED</h2>
                <p>
                    DBP and Fon have partnered to create a Free WiFi network in the Downtown Brooklyn area to be launched on
                    December 13, 2013. WiFi access points wil be installed in various public locations.
                </p>
		<p<>You can make a difference and help the neighborhood by installing a free WiFi router in your venue or home.</p>
                </br>
                <div id="joinBut"class="button">JOIN NOW</div>
            </div>
        </div>


        <div class="info1">
            <div>
                <h3>About this project</h3>
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> 
                sed do eiusmod tempor incididunt ut labore et dolore <br />
                 aliqua. Ut enim ad minim veniam, quis nostrud magna<br />
                ullamco laboris nisi exercitation </p>
            </div>
        </div>

        <img src="/static/map.jpg" />

        <div class="info">
            <div class="mn-wrapper">
                <h3>What's your story?</h3>
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis-mommodo consequat</p>
                <div style="margin-right: 20%;">
                    <img src="/static/m.png" />
                    <div class="mn-button" id="merchBut">I'm a Merchant</div>
                </div>
                <div>
                    <img src="/static/n.png" />
                    <div class="mn-button" id="neighBut">I'm a Neighbor</div>
                </div>
            </div>
        </div>

        <div class="infoH" style="background-color:#f9f9f9">
            <div>
                <h3>Hello Merchant</h3>
                <hr />
                <p>HERE IS WHAT YOU GET IN RETURN. ALL FOR FREE</p>
                <ul>
                    <li>A free powerful WiFi router with free installation to customize your WiFi landing page and promote your business</li>
                    <li>Your venue will be listed in our WiFi map</li>
                    <li>Possible mentions in press releases by Fon, NYCEDC, and DBP</li>
                    <li>Increased foor traffic in Downtown Brooklyn by providing ubiquitous WiFi in our neighorhood</li>
                    <li>Helping Downtown Brooklyn become the most connected neighborhood in NYC</li>
                </ul>
            </div>

        </div>

        <div class="infoH" >
            <div>
                <h3>Hello Neighbor</h3>
                <hr />
                <p>HERE IS WHAT YOU GET IN RETURN. ALL FOR FREE</p>
                <ul>
                    <li>A free Fon WiFi residential router</li>
                    <li>Free Access to the largest WiFi network in the world</li>
		    <li>Facebook connect, your Facebook friends connct to your router without annoying password</li>
                    <li>Seamless access to the DBP Fon WiFi network in BK by downloading the Fon App</li>
                    <li>Helping Downtown Brooklyn become the most connected neighborhood in NYC</li>
                </ul>
            </div>

        </div>

        <div class="infoC">
            <div>
                <h3>All You Need To Do Is Sign Up</h3>
                <hr />
                <p>Sign up now and become a pioneer by helping Downtown Brooklyn become the best WiFi
                zone in NYC. We will install and configure your new router for you.</p>
                <ul>
                    <li><b>No broadband?</b> No problem. We will survey your site and see if you qualify for broadband for a small fee</li>
                    <li><b>Already have a WiFi router?</b> Recycle it and get a new powerful router able to handle up to 25 concurrent sessions</li>
                </ul>
                <br />
                <br />
                <div id="joinBut">
                    JOIN NOW
                </div>
            </div>   
        </div>

        <footer>
            All rights reserved Fon 2013
        </footer>
    </div>
</body>
</html>
