<!DOCTYPE html>

<html>
    <head>
	<title>Downtown Brooklyn | Fon</title>
	<link rel="stylesheet" href="../static/signup.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
	<div class="background"></div>

	<div class="wrapper">
	    <div class="top-wrapper">
		<div class="top-in-wrapper">
		    <a href="https://corp.fon.com/en">
			<img src="../static/fon.png" />
		    </a>
		    <a href="http://www.nycedc.com/">
			<img class = "nyc" src="../static/nycedc.png" />
		    </a>
		    <a href="/">
			<img src="../static/free.png" />
		    </a>
		    <a href = "http://downtownbrooklyn.com/">
			<img src="../static/dtb.png" />
		    </a>
		    <ul>
			<li><a href="signup">Join in</a></li>
			<li><a class="scroll" href="#about">About</a></li>
			<li><a href="">Contact us</a></li>
		    </ul>
		</div>
		<div class="mid-in-wrapper">
		    <div class="table-wrapper">
			<form method="POST" id="data">
			    <table>
				<tr>
				    <td>You are a</td>
				    <td>
					<select name="type">
					    <option>
					    Business
					    </option>
					    <option>
					    Resident
					    </option>
					</select>
				    </td>
				</tr>
				<tr>
				    <td>Business Name</td>
				    <td><input type="text" name="bname" /></td>
				</tr>
				<tr>
				    <td>Full Name</td>
				    <td><input type="text" name="name" /></td>
				</tr>
				<tr>
				    <td>Email</td>
				    <td><input type="text" name="email" /></td>
				</tr>
				<tr>
				    <td>Address</td>
				    <td><input type="text" name="address" /></td>
				</tr>
				<tr>
				    <td>City</td>
				    <td><input type="text" name="city" value="Brooklyn" /></td>
				</tr>
				<tr>
				    <td>State</td>
				    <td><input type="text" name="state" value="New York" /></td>
				</tr>
				<tr>
				    <td>Zip Code</td>
				    <td><input type="text" name="zip" /></td>
				</tr>
				<tr>
				    <td>Phone</td>
				    <td><input type="text" name="phone" /></td>
				</tr>
				<tr>
				    <td>Mailing List</td>
				    <td><input type="checkbox" name="mail" /></td>
				</tr>
			    </table>
			    <input type="submit" class="button" value="JOIN NOW">
			</form>
			
		    </div>
		</div>
	    </div>
	</div>
	<footer>
	All rights reserved Fon 2013
	</footer>
	<script>
	    $(document).ready(function () {
		$('select[name=type]').change(function() {
		    console.log(this);
		    if(this.value == "Resident")
			$('input[name=bname]').attr('disabled','disabled');
		    else
			$('input[name=bname]').removeAttr('disabled');
		});
		$('form#data').submit(function(e) {
		    var form = $(this).serializeArray();
		    var cont = true; 
		    for (x in form) {
			if(form[x].value == "") {
			    e.preventDefault();
			    alert("Every field must be filled out! (" + form[x].name + ")");
			    cont = false;
			    break;
			}
		    }
		}); 
	    });
	</script>
    </body>


</html>
